

header{
    background-color:#17151f ;
    color: darkgoldenrod;
    text-decoration: none;
}

.nav-pills.onhover{
    background-color:darkgoldenrod ;
}
nav li a{
    color: darkgoldenrod;
    text-decoration: none;
}

body{
    width:100%;
}


h1,h2,h3,h4,h5,h6{
    color: darkgoldenrod;
}

