.carousel-inner> .item > img{
	height:520px;
	width:100%;
}

h1,h2,h3 {
	color: darkgoldenrod;
}

.sidebar-title{
    color:silver;
    text-decoration: underline;
}
.container{
    /*border: 1px blue solid ;*/
    width:100%;
    background-color: inherit;
}



