{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>Emmet Driver Media</title>
    <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
     <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div id="masthead">
    <div class="container">
         <div class="row">
                <h1> Emmet Driver Media
                </h1>
        </div>

        <nav class='row'>
				<ul class='nav nav-pills nav-justified col-sm-1'>
				    <li><a href="/">Home</a></li>
				    <li><a href="/blog">Blog</a></li>
		    	    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Writings
        		        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TV/FILM</a></li>
                            <li><a href="#">Novels</a></li>
                            <li><a href="/articles">Articles</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">About
        		        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About Me</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                </ul>
		</nav>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <!--blog entries-->
                    {% block content %}
                    {% endblock %}
                    <!--blog entries-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-5">
        <button type="button" class="btn btn-vimeo" style="background-color:#00dbff" ><a href="#"><i class="fa fa-vimeo-square" style="color:white"></i></a></button>
        <button type="button" class="btn btn-twitter" style="background-color:#67c9e8"><a href ="#"><i class="fa fa-twitter" style="color:whitesmoke"></i></a></button>
        <button type="button" class="btn btn-linkedin" style="background-color:#007ab9"><a href ="#"><i class="fa fa-linkedin" style="color: white"></i></a></button>
    </div>
    <p>Created by Ciaran Darcy</p>
</div>
<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</body>
</html>